html {
    font-size: 16px;
}

.home-text {
    text-align: center;
}

#leaflet-intro {
    padding-top: 1rem;
}

#leaflet-outro {
    width: 30vw;
    margin: auto;
}

.leaflet-container {
    width: 50vw;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
  }